<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Logging (Optional) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- API Log Appender - audit logs -->
    <appender name="AUDIT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/audit/audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Roll files based on time, keep one file per day, and delete logs older than 7 days -->
            <fileNamePattern>./logs/audit/audit.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- Max size for each log file -->
            <maxHistory>7</maxHistory> <!-- Retain logs for 7 days -->
            <totalSizeCap>70MB</totalSizeCap> <!-- Retain total size of log files up to 70MB -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- API Log Appender - access logs -->
    <appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/access/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Roll files based on time, keep one file per day, and delete logs older than 7 days -->
            <fileNamePattern>./logs/access/access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- Max size for each log file -->
            <maxHistory>7</maxHistory> <!-- Retain logs for 7 days -->
            <totalSizeCap>70MB</totalSizeCap> <!-- Retain total size of log files up to 70MB -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error Log Appender - error logs -->
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/error/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Roll files based on size limit, max 10MB per log file -->
            <fileNamePattern>./logs/error/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- Max size for each log file -->
            <maxHistory>7</maxHistory> <!-- Retain logs for 7 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Frontend Action Log Appende - user action logs -->
    <appender name="FRONTEND_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/frontend/frontend.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Roll files based on size limit, max 10MB per log file -->
            <fileNamePattern>./logs/frontend/frontend.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- Max size for each log file -->
            <maxHistory>7</maxHistory> <!-- Retain logs for 7 days -->
            <totalSizeCap>70MB</totalSizeCap> <!-- Retain total size of log files up to 70MB -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger (Optional) -->
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- API Logger - Logs for POST API requests (audit) -->
    <logger name="apiAuditLogger" level="info">
        <appender-ref ref="AUDIT_LOG"/>
    </logger>

    <!-- API Logger - Logs for regular API requests (access) -->
    <logger name="apiAccessLogger" level="info">
        <appender-ref ref="ACCESS_LOG"/>
    </logger>

    <!-- Error Logger - Logs for API errors (error logs) -->
    <logger name="apiErrorLogger" level="warn">
        <appender-ref ref="ERROR_LOG"/>
    </logger>

    <!-- Frontend Logger - Logs for Frontend actions (user action logs) -->
    <logger name="frontendLogger" level="info">
        <appender-ref ref="FRONTEND_LOG" />
    </logger>

</configuration>
